/* -----google fonts-------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');


/* ---------common style------ */

.container {
          font-family: 'Roboto', sans-serif;
          background-color: white;
          margin: 0 auto;




}

main {
          margin: 5%;
}

/* ------top portion style start------- */

.top-section {
          background-color: black;
          color: white;
          height: 480px;
          border-radius: 25px;
          padding-bottom: 2%;
}

.top-portion {
          display: flex;
          margin-bottom: 2%;

}

.top-left-part {
          width: 50%;
          padding-left: 3%;


}

.top-title {
          font-size: 3.5em;
          color: white;

}

.top-text {
          font-size: 18px;
          margin-top: -7%;
          text-align: start;
}

.live-btn {

          background-color: red;
          padding: 10px 20px;
          font-size: medium;
          font-weight: 600;
          color: whitesmoke;
          margin-top: 10px;
          border-radius: 5px;
}

.fa-solid {
          padding-left: 7px;
}

.top-right-part {
          width: 50%;
          padding: 3%;


}

.top-right-part img {
          width: 60%;
          margin-left: 10%;
          transition: width 1s linear;

}

img:hover {
          width: 65%;
}

/* ------top portion style end------- */


/* ------ Upcoming Match section start------- */

.upcoming-matches-section {
          display: flex;
          margin-top: 5%;

}

.sidebar-items {
          width: 25%;
          margin-right: 3%;

}

.sidebar-item {

          background-color: black;
          border-radius: 5px;
          padding: 5%;

}

.item {
          background-color: white;
          margin: 5%;
          padding: 5%;
          border-radius: 10px;
          text-align: center;

}

#unique-item {
          background-color: red;
}

.item a {
          padding: 10px 20px;
          text-decoration: none;
          color: black;
          font-size: 20px;
          font-weight: bold;
          font-family: normal;
}


.upcoming-matches {
          width: 75%;


}

.match-details {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2%;


}

.match {

          border: 1px solid gray;
          border-radius: 10px;
          padding: 10px 5px 5px;


}


.match-flag {
          display: flex;
          justify-content: center;
          align-items: center;
}



.match-flag img {
          width: 100%;
}

h4 {
          padding: 0px 10px;
          font-weight: bolder;
}

.match h3 {
          text-align: center;
}

.match p {
          text-align: center;
          color: gray;
}

/* ------Upcoming match section end------- */


/* -------footer style start ----- */
footer {
          margin-top: 7%;
          height: 400px;
          background-color: rgb(33, 32, 32);
}

h2 {
          text-align: center;
          padding-top: 5%;
          font-size: 35px;
          color: white;
}

hr {
          margin: 0 10%;

}


ul {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style-type: none;


}

ul a {
          color: white;
          text-decoration: none;
          padding-right: 30px;
          font-family: normal;


}

.social-link {
          margin-top: 2%;
          text-align: center;


}

.social-link a {
          padding-right: 20px;
          font-size: 24px;
          color: white;
          text-decoration: none;
}

/* -------footer style start ----- */


/* -----media query for tablet device--- */

@media screen and (min-width:780px) and (max-width:1023px) {
          .container {
                    width: 100%;


          }

          .top-section {
                    height: 630px;

          }

          .top-portion {
                    display: flex;

          }

          .top-left-part {

                    width: 50%;
                    padding-right: 10px;


          }

          .top-title {
                    font-size: 3.5em;
                    padding-bottom: 5px;
          }

          .top-text {
                    font-size: 18px;
                    padding-bottom: 5%;
                    text-align: start;

          }

          .top-right-part {

                    width: 50%;
                    margin-top: 10%;
                    margin-right: 10%;

          }

          .top-right-part img {
                    width: 100%;


          }

          .upcoming-matches-section {

                    display: block;
          }

          .sidebar-items {
                    width: 100%;
                    margin: 0;
                    padding: 0;
          }

          .sidebar-item {
                    display: flex;
                    justify-content: space-between;
                    background-color: white;



          }

          .item {

                    width: 250px;
                    margin: 10px;
                    padding: 20px 0;
                    background-color: white;
                    border: 1px solid gray;
          }

          .item a {
                    color: black;
                    font-size: 20px;
                    text-align: center;
          }

          .upcoming-matches {
                    width: 100%;
                    margin-top: 10px;
                    padding-bottom: 5%;

          }

          .match-details {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-content: center;
                    padding: 5%;
                    column-gap: 2%;

          }


          h3,
          h4 {
                    font-size: 24px;
          }

          p {
                    font-size: 20px;
                    font-weight: bold;
          }


          footer {

                    width: 100%;
                    margin-top: 15%;

          }

          hr {
                    width: 80%;

          }

          ul li {
                    font-size: 20px;
                    text-align: center;

          }


}


/* -----media query for mobile device--- */

@media only screen and (max-width:779px) {

          .container {
                    width: 100%;


          }

          .top-section {
                    height: 900px;
          }

          .top-portion {
                    display: block;
                    padding-top: 2%;
                    width: 0 auto;
                    text-align: center;

          }

          .top-left-part {
                    width: fit-content;
                    padding: 0 5px;


          }

          .top-title {
                    font-size: 40px;
                    text-align: center;
                    font-weight: bold;
                    padding: 5%;


          }

          .top-text {
                    text-align: justify;
                    font-size: 20px;
                    margin-top: 2%;
                    padding: 10px 30px;


          }


          .live-btn {

                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 24px;



          }

          .top-right-part {
                    margin-top: 5%;
                    margin-left: 10%;


          }

          .top-right-part img {

                    width: 100%;

          }

          .upcoming-matches-section {
                    display: block;
          }

          .sidebar-items {
                    width: 100%;

          }

          .sidebar-item {

                    background-color: white;
          }

          .item {
                    border: 1px solid gray;
          }

          .item a {
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
          }

          .upcoming-matches {
                    padding-bottom: 5%;
                    width: 100%;
          }

          .match-details {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    row-gap: 30px;
          }



          h4,
          h3 {
                    font-size: 24px;
          }

          .match p {
                    font-size: 22px;

          }

          .footer-bottom ul {
                    display: block;
                    text-align: center;

          }

          ul li {
                    font-size: 24px;
                    padding-top: 10px;

          }



}